/**
CHEDIS CSS FILE

CREATED BY SHAY PUNTER
**/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*
GLOBAL STYLUS
 */
html, body {
    margin:0;
    padding:0;
}


/*
NAVIGATION STYLUS
 */
.navbar-default {height:85px;background-color: #0076fe;border-bottom:4px solid #0068c8;border-radius:0;padding:0 !important;margin:0 !important; }
.navbar-default .navbar-header {position: absolute;top:8%;}
.navbar-default .navbar-header a {color:#ffffff;font-size:2em;font-weight:bolder;}
.navbar-default .navbar-nav .active {position:relative;margin-top:15%;float:right;}
.navbar-default .navbar-nav .active a {background-color:unset;color:white;font-size:1.2em;font-weight:bold;padding:10px 40px 10px 40px;border:2px solid white;border-radius:40px;transition:all 0.2s ease;}
.navbar-default .navbar-nav .active a:hover {background-color:white;color:#0076fe;}

@media only screen and (max-width: 764px) {
    .navbar-nav > li {
        float: right;
    }
    .navbar-default .navbar-nav .active {margin-top:1.7%;right:5%;}
}